* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


body {
    background-color: #f2fdff;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 1080px;
    width: auto;
}

.title {
    font-size: 36px;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid red;
    text-align: center;
}

.menu {
    font-size: 24px;
    border: 2px solid red;
    text-align: center;
    padding: 16px;
}

.hero {
    border: 2px solid red;
    margin: 0 auto;
    padding: 0;
}

