* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #101935;
    font-weight: 600;
}


body {
    background-color: #f2fdff;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

img {
    height: 1080px;
    width: auto;
    display: block;
    margin: auto;
}

.title {
    font-size: 36px;
    margin: 0 auto;
    padding: 8px;

    text-align: center;
    color: #9ad4d6;
}

.menu {
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.menu-item {
    padding: 0 16px;
    border-bottom: 3px solid #9ad4d6;
}

.recipe-hero {
    height: 720px;
    width: auto;
}

.info {
    width: 600px;
    margin: 20px auto;
    color: #101935;
}

.info > p {
    margin-bottom: 16px;    
}

 h2 {
    text-align: center;
    border-bottom: 2px solid #9ad4d6;
    margin-bottom: 10px;
 }

 li {
    padding: 4px;
 }



