* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #101935;
    font-weight: 600;
}


body {
    background-color: #f2fdff;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 1080px;
    width: auto;
    display: block;
    margin: auto;
}

.title {
    font-size: 36px;
    margin: 0 auto;
    padding: 8px;

    text-align: center;
    color: #9ad4d6;
}

.menu {
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.menu-item {
    padding: 0 16px;
}


